[run]
source = pyNeuralNetwork
omit =
	*/tests/*
	pyNeuralNetwork/run_tests.py
	pyNeuralNetwork/setup.py
	*/__init__.py
	pyNeuralNetwork/neural_network/examples/*
	pyNeuralNetwork/neural_network/verson_info.py
