# IntelliJ .idea files
.idea/
.idea/**/dbnavigator.xml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/vcs.xml
.idea/**/workspace.xml
*.iml

# Distribution and packaging
neural_network.egg-info/
neural_network.egg-info/PKG-INFO
neural_network.egg-info/SOURCES.txt
neural_network.egg-info/dependency_links.txt
neural_network.egg-info/requires.txt
neural_network.egg-info/top_level.txt
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

